# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
*.egg

# Virtual env
venv/
.venv/
env/

# Database
*.db
*.sqlite3

# Node
node_modules/
dist/
build/

# Android
*.apk
*.aab
.gradle/
local.properties
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local

# Backup
backups/
*.backup
